<app-header-menu></app-header-menu>
<div class="am-wrapper">
  <div class="am-content">
    <div class="main-content">

      <div class="row">
        <div class="col-sm-12 col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Basic Elements</h3>
          </div>
          <div class="panel-body">
            <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
              <div class="form-group">
                <label class="col-sm-3 control-label">Input Text</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Input Password</label>
                <div class="col-sm-6">
                  <input type="password" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Placeholder Input</label>
                <div class="col-sm-6">
                  <input type="text" placeholder="Placeholder text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Disabled Input</label>
                <div class="col-sm-6">
                  <input type="text" disabled="disabled" placeholder="Disabled input text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Readonly Input</label>
                <div class="col-sm-6">
                  <input type="text" readonly="readonly" value="Readonly input text" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Textarea</label>
                <div class="col-sm-6">
                  <textarea class="form-control"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

        <div class="col-sm-12 col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">Summernote</div>
            </div>
            <div class="panel-body">
              <div id="editor1"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
