<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-full-dark xs-mb-5">
        <div class="panel-body text-center">
            <div class="font-20px hidden-xs hidden-sm visible-md-block visible-lg-block" style="line-height: 34px;">
                <span class="label label-success" style="white-space: normal;"><%= people %></span>
            </div>
            <div class="font-16px visible-xs visible-sm-block hidden-md" style="line-height: 28px;">
                <span class="label label-success" style="white-space: normal;"><%= people %></span>
            </div>
        </div>
        <div class="panel-footer font-16px xs-p-5 text-center">
            <span class="id-shift-sumup font-color-black">0001-001</span>&nbsp;
            <button class="btn btn-info"><i class="fas fa-edit"></i></button>&nbsp;
            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</div>