<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Planizi - Fail</title>

</head>
<body>
<header>
    <%- include header.ejs %>
</header>


<div class="container center">
    <%= error %>
</div>
</body>
</html>