<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Planizi - Connexion</title>

    <script src="/js/bootstrap.min.css"></script>
    <script src="/js/jquery.min.css"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

</head>
<body>
<div class="container center">
    <%= test %>
</div>
</body>
</html>