<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Planizi - Connexion</title>

</head>
<body>
<header>
    <%- include header.ejs %>
</header>


<div class="container center">
    <a href="/authentication/google">Sign In with Google</a>
</div>
</body>
</html>