<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <title>Planizi - Registration</title>
    <link rel="stylesheet" type="text/css" href="assets/lib/stroke-7/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/jquery.nanoscroller/css/nanoscroller.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="assets/lib/select2/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap-slider/css/bootstrap-slider.css"/>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css"/>
</head>

<body class="am-splash-screen">

<div class="am-wrapper am-login">
    <div class="am-content">
        <div class="main-content">
            <div class="row wizard-row">
                <div class="col-md-12 fuelux">
                    <div class="block-wizard panel panel-default">
                        <div id="wizard1" class="wizard wizard-ux">
                            <ul class="steps">
                                <li data-step="1" class="active">Personal<span class="chevron"></span></li>
                                <li data-step="2">Skill<span class="chevron"></span></li>
                                <li data-step="3">Administrative<span class="chevron"></span></li>
                            </ul>
                            <div class="actions">
                                <button type="button" class="btn btn-xs btn-prev btn-default"><i class="icon s7-angle-left"></i></button>
                                <button type="button" data-last="Finish" class="btn btn-xs btn-next btn-default"><i class="icon s7-angle-right"></i></button>
                            </div>
                            <div class="step-content">
                                <div data-step="1" class="step-pane active">
                                    <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                        <div class="form-group no-padding">
                                            <div class="col-sm-7">
                                                <h3 class="wizard-title">User Info</h3>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label font-weight-bold">Name *</label>
                                            <div class="col-sm-6">
                                                <input type="text" required="" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label font-weight-bold">Surname *</label>
                                            <div class="col-sm-6">
                                                <input type="text" required="" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Nickname</label>
                                            <div class="col-sm-6">
                                                <input type="text" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label font-weight-bold">Email *</label>
                                            <div class="col-sm-6">
                                                <input type="text" disabled="disabled" placeholder="<%= user %>" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Phone *</label>
                                            <div class="col-sm-6">
                                                <input data-parsley-type="digits" type="text" required="" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label font-weight-bold">Gender *</label>
                                            <div class="col-sm-6">
                                                <div class="am-radio inline">
                                                    <input type="radio" name="gender" id="male">
                                                    <label for="male">Male</label>
                                                </div>
                                                <div class="am-radio inline">
                                                    <input type="radio" name="gender" id="female">
                                                    <label for="female">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label font-weight-bold">Birth date * </label>
                                            <div class="col-sm-6">
                                                <div data-min-view="2" data-date-format="dd/mm/yyyy" class="input-group date datetimepicker">
                                                    <span class="input-group-addon btn btn-primary"><i class="icon-th s7-date"></i></span>
                                                    <input required="" type="text" data-mask="date" value="" placeholder="dd/mm/yyyy" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Description / Comments</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" maxlength="500"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 text-center">
                                                <button class="btn btn-default btn-space">Cancel</button>
                                                <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step <i class="icon s7-angle-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div data-step="2" class="step-pane">
                                    <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                        <div class="form-group no-padding">
                                            <div class="col-sm-7">
                                                <h3 class="wizard-title">Skills</h3>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Experiences / Abilites</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" maxlength="500"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Health problems / Disabilities</label>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" maxlength="500"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Skills</label>
                                            <div class="col-sm-6">
                                                <div class="am-checkbox">
                                                    <input id="check3" type="checkbox">
                                                    <label for="check3">Driver licence</label>
                                                </div>
                                                <div class="am-checkbox">
                                                    <input id="check4" type="checkbox">
                                                    <label for="check4">Driver licence +3years</label>
                                                </div>
                                                <div class="am-checkbox">
                                                    <input id="check5" type="checkbox">
                                                    <label for="check5">CACES</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Your role</label>
                                            <div class="col-sm-6">
                                                <select class="select2">
                                                    <option value="AK">Organizer</option>
                                                    <option value="HI">Volunteer</option>
                                                    <option value="HI">Service provider</option>
                                                    <option value="HI">Technician</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 text-center">
                                                <button data-wizard="#wizard1" class="btn btn-default btn-space wizard-previous"><i class="icon s7-angle-left"></i>Previous</button>
                                                <button data-wizard="#wizard1" class="btn btn-primary btn-space wizard-next">Next Step <i class="icon s7-angle-right"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div data-step="3" class="step-pane">
                                    <form action="#" data-parsley-namespace="data-parsley-" data-parsley-validate="" novalidate="" class="form-horizontal group-border-dashed">
                                        <div class="form-group no-padding">
                                            <div class="col-sm-7">
                                                <h3 class="wizard-title">Administrative documents</h3>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label font-weight-bold">Tee-shirt size *</label>
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option>S</option>
                                                    <option>M</option>
                                                    <option>L</option>
                                                    <option>XL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Social security number</label>
                                            <div class="col-sm-6">
                                                <input data-parsley-type="digits" type="text" required="" placeholder="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Social security card</label>
                                            <div class="col-sm-6">
                                                <div class="input-group xs-mb-15">
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Ok</button></span>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Identity card / Passport</label>
                                            <div class="col-sm-6">
                                                <div class="input-group xs-mb-15">
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Ok</button></span>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Drive licence</label>
                                            <div class="col-sm-6">
                                                <div class="input-group xs-mb-15">
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Ok</button></span>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">CV</label>
                                            <div class="col-sm-6">
                                                <div class="input-group xs-mb-15">
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">Ok</button></span>
                                                    <input type="file" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 text-center">
                                                <button data-wizard="#wizard1" class="btn btn-default btn-space wizard-previous"><i class="icon s7-angle-left"></i> Previous</button>
                                                <button data-wizard="#wizard1" class="btn btn-success btn-space wizard-next"><i class="icon s7-check"></i> Complete</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery.nestable/jquery.nestable.js" type="text/javascript"></script>
<script src="assets/lib/moment.js/min/moment.min.js" type="text/javascript"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/lib/fuelux/js/wizard.js" type="text/javascript"></script>
<script src="assets/lib/bootstrap-slider/js/bootstrap-slider.js" type="text/javascript"></script>
<script src="assets/lib/datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="assets/js/app-form-wizard.js" type="text/javascript"></script>
<script src="assets/js/app-form-elements.js" type="text/javascript"></script>
<script src="assets/lib/select2/js/select2.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//initialize the javascript
		App.init();
		App.wizard();
		App.formElements();
	});
</script>

</body>
</html>