<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Planizi - TEST</title>

</head>
<body>
<header>
    <%- include header.ejs %>
</header>


<div class="container center">

</div>
</body>
</html>