<link rel="stylesheet" href="/css/bootstrap.min.css" id="bootstrap-css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/header.js"></script>

<!-- The navbar for screen -->
<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 center" role="navigation">
    <div class="m-auto col-12 row" style="max-width: 1600px;">
        <a class="navbar-brand" href="#">PLANIZI</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="w">
            <ul class="navbar-nav">
                <li class="nav-item dropdown m-auto">
                    <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown1</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown1">
                        <li class="dropdown-item" href="#"><a>Action 1</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown2</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown2">
                        <li class="dropdown-item" href="#"><a>Action 2 A</a></li>
                        <li class="dropdown-item" href="#"><a>Action 2 B</a></li>
                        <li class="dropdown-item" href="#"><a>Action 2 C</a></li>
                    </ul>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0 ml-auto">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<!-- The same navbar for mobile version -->
    <div class="container-fluid collapse navbar-collapse d-lg-none d-xl-none h-100 fade"  id="navbarCollapse" style="position: absolute; top: 0px; left: 0px; max-width: 300px;">
        <div class="row" style="height: 100%;">
            <div class="col-12 sidebar1" style="overflow: scroll">
                <div class="logo text-center mt-2">
                    <img src="http://lorempixel.com/output/people-q-g-64-64-1.jpg" class="img-responsive center-block m-auto mt-2" alt="Logo">
                </div>
                <br>
                <div class="left-navigation">
                    <ul class="list">
                        <h5><strong>TITRE 1</strong></h5>
                        <li href="/test"><a href="/home">aa</a></li>
                        <li>aa</li>
                        <li>aaa</li>
                    </ul>

                    <ul class="list">
                        <h5><strong>TITRE 2</strong></h5>
                        <li>aa</li>
                        <li>aa</li>
                    </ul>
$
                </div>
            </div>
        </div>
    </div>