<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Planizi - TEST</title>

</head>
<body>
<header>
    <%- include header.ejs %>
    <script type="text/javascript">$('#page-title-for-mobile-version').append('INSERT TITLE PAGE')</script>
</header>


<div class="container center">

</div>
</body>
</html>