<div class="am-wrapper am-login">
    <div class="am-content">
        <div class="main-content">
            <div class="login-container">
                <div class="panel panel-default">
                    <div class="panel-heading"><img src="../../../assets/images/logo_planizi_blanc_sf_320.png" alt="logo" class="logo-img" style="max-width: 250px;"><span>Simplificateur d'évènement</span></div>
                    <div class="panel-body">
                        <form action="index.html" method="get" class="form-horizontal">
                            <div class="login-form">
                                <div class="form-group login-submit">
                                    <a routerLink="/userprofile" class="btn btn-primary btn-lg" style="color: white">Me connecter avec Google</a>
                                    <!-- <button (click)="socialSignIn('google')" class="btn btn-primary btn-lg" style="color: white">Me connecter avec Google</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
